.palmtree--form{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: .5rem;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 1px grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.palmtree--form-title{
  text-align: center;
  font-size: 1.6rem;
}

.palmtree--form-item{
  display: flex;
  flex-direction: column;
  padding: .2rem;
}

.palmtree--form-item label{
  padding: .2rem 0;
  font-weight: bold;
}

.palmtree--form-submit{
  cursor: pointer;
  padding: .5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 200ms ease-in-out 0s;
}

.palmtree--form-submit:hover{
  background-color: #999999;
}