.palmtree--toast{
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  max-width: 500px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 12px;
  font-size: 1.4rem;
  background-color: lightblue;
  color: #1d1d1d;
  box-sizing: border-box;
  animation-name: popup;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

  scrollbar-width: thin;
  scrollbar-color: black transparent;

}

.palmtree--toast::-webkit-scrollbar{
  width: 12px;
}

.palmtree--toast::-webkit-scrollbar-track{
  background-color: transparent;
  border: 3px solid transparent;
}

.palmtree--toast::-webkit-scrollbar-thumb{
  border: 4px solid transparent;
  border-radius: 20px;
  background-color: black;
  background-clip: padding-box;
}

.palmtree--close-menu{
  display: flex;
  position: relative;
  top: 5%;
  left: 92%;
}

.palmtree--toast-text{
  padding: 0rem 1rem;
  margin: .5rem;
}

.palmtree--close-menu span{
  padding: .1rem;
  height: 1px;
  width: 15px;
  background-color: #1d1d1d;
  transition: 300ms ease-in-out;
}

.palmtree--danger{
  background-color: lightcoral;
}

.palmtree--warning{
  background-color: lightgoldenrodyellow;
}

.palmtree--close-menu span:hover{
  cursor: pointer;
}

.palmtree--close-menu:hover span{
  background-color: lightgreen;
}

.palmtree--close-menu span:first-child{
  transform: translate(18px) rotate(45deg);
}

.palmtree--close-menu span:last-child{
  transform:translate(0px) rotate(-45deg);
}

@keyframes popup{
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
